$noraml: #333;

.menu {
   ul {
      list-style: none;
      margin: 20px auto;
      li {
         display: inline-block;
         margin: 10px;
         a {
            display: block;
            text-decoration: none;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 10px;
            &:hover {
               background-color: deeppink;
            }
            &:active{
               background-color: deepskyblue;
            }
         }
      }
   }
}